.container
  padding: 0 2rem
  min-height: 100vh


.header 
  height: 6rem
  display: flex
  flex-direction: column
  place-items: center


.title
  margin: 1rem
  line-height: 1.15
  font-size: 2rem
  text-align: center


.flex
  display: flex
  justify-content: space-between

